.mai-testimonials-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: var(--align-columns-vertical, unset);
	justify-content: var(--align-columns, unset);
	width: calc(100% + var(--column-gap));
	max-width: var(--testimonials-wrap-max-width, calc(100% + var(--column-gap)));
	margin: calc(var(--row-gap) * -1) 0 0 calc(var(--column-gap) * -1);
	line-height: 1.5;

	--testimonial-margin: var(--row-gap) 0 0 var(--column-gap);
}

@media only screen and (max-width: 599px) {

	.mai-testimonials-inner {
		--columns: var(--columns-xs);
	}
}

@media only screen and (min-width: 600px) and (max-width: 799px) {

	.mai-testimonials-inner {
		--columns: var(--columns-sm);
	}
}

@media only screen and (min-width: 800px) and (max-width: 999px) {

	.mai-testimonials-inner {
		--columns: var(--columns-md);
	}
}

@media only screen and (min-width: 1000px) {

	.mai-testimonials-inner {
		--columns: var(--columns-lg);
	}
}

.mai-testimonial {
	position: var(--testimonial-position, static);
	flex: var(--testimonial-flex, 1 1 calc((100% / var(--columns)) - var(--column-gap)));
	max-width: var(--testimonial-max-width, calc((100% / var(--columns)) - var(--column-gap)));
	margin: var(--testimonial-margin, 0);
	padding: var(--testimonial-padding, 0);
	font-size: var(--testimonial-font-size, var(--font-size-md));
	background: var(--testimonial-background, unset);
	border: var(--testimonial-border, 0);
	border-radius: var(--testimonial-border-radius, var(--border-radius));
	box-shadow: var(--testimonial-box-shadow, unset);
}

.mai-testimonial-content {
	text-align: var(--testimonial-text-align, unset);
}

.mai-testimonial-content:not(:last-child) {
	margin-bottom: var(--spacing-lg);
}

.mai-testimonial-details {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: var(--testimonial-details-margin, 0);
	text-align: var(--testimonial-details-text-align, center);
}

.mai-testimonial-image {
	flex: 0 1 auto;
	margin: var(--testimonial-image-margin, 0 0 var(--spacing-xs));
	text-align: var(--testimonial-image-text-align, center);
}

.mai-testimonial-image img {
	border-radius: 9999px;
}

.mai-testimonial-author {
	flex: 0 1 auto;
	max-width: 66.666666%;
}

.mai-testimonial-name {
	display: block;
	font-size: var(--font-size-lg);
	font-family: var(--heading-font-family);
}

.mai-testimonial-name:not(:last-child) {
	margin-bottom: var(--spacing-xxxs);
}

.mai-testimonial-byline {
	display: block;
	font-size: var(--font-size-sm);
	line-height: 1.25;
}

.has-boxed {
	--testimonial-padding: var(--spacing-xl);
	--testimonial-background: var(--color-white);
	--testimonial-border: var(--border);
	--testimonial-box-shadow: var(--shadow);
}
